@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@font-face {
  font-family: british;
  src: url(../fonts/BritishShorthair.otf);
  font-weight: normal; }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #241b33;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 16pt; }

#logo {
  height: 35px; }

h1 {
  color: #f9d7af;
  font-family: 'british';
  font-size: 60pt;
  font-weight: normal;
  line-height: 67pt; }

h2 {
  color: #f9d7af;
  font-family: 'british';
  font-weight: normal;
  font-size: 51pt; }

h3 {
  color: #f9d7af;
  font-family: 'Raleway';
  font-size: 16.66667pt;
  font-weight: bold; }

h4 {
  color: #f9d7af;
  font-family: 'Raleway';
  font-size: 12.5pt;
  font-weight: bold; }

h5 {
  color: #f9d7af;
  font-family: 'Raleway';
  font-size: 10pt;
  font-weight: bold; }

hr {
  background: url("../img/hr.png") no-repeat top center;
  background-size: contain;
  display: block;
  height: 65px;
  border: 0;
  position: relative; }

#services, #stones, #amulets {
  background-image: url("../img/bgservices.png");
  background-position: center;
  background-color: #2a233a;
  padding-top: 15vh;
  padding-bottom: 15vh; }

.contentBox {
  max-width: 600px;
  margin: 30px; }

footer {
  background-color: #2a233a;
  color: #5e536b;
  text-align: center;
  padding: 35px; }

.socialIcon {
  height: 30px;
  margin-right: 0.5em; }

.footerImg {
  margin-bottom: 25px; }

/* container */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto; }

/*queries container*/
@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px; } }

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px; } }

/*dropdown menu*/
.fade {
  transition: opacity 0.15s linear; }

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none; } }

.fade:not(.show) {
  opacity: 0; }

.collapse:not(.show) {
  display: none; }

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease; }

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none; } }

.dropup,
.dropend,
.dropdown,
.dropstart {
  position: relative; }

.dropdown-toggle {
  white-space: nowrap; }

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; }

.dropdown-toggle:empty::after {
  margin-left: 0; }

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #fff;
  background-color: #2a233a;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border-radius: 0.25rem; }

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: 0.125rem; }

.dropdown-menu-start {
  --bs-position: start; }

.dropdown-menu-start[data-bs-popper] {
  right: auto;
  left: 0; }

.dropdown-menu-end {
  --bs-position: end; }

.dropdown-menu-end[data-bs-popper] {
  right: 0;
  left: auto; }

@media (min-width: 576px) {
  .dropdown-menu-sm-start {
    --bs-position: start; }
  .dropdown-menu-sm-start[data-bs-popper] {
    right: auto;
    left: 0; }
  .dropdown-menu-sm-end {
    --bs-position: end; }
  .dropdown-menu-sm-end[data-bs-popper] {
    right: 0;
    left: auto; } }

@media (min-width: 768px) {
  .dropdown-menu-md-start {
    --bs-position: start; }
  .dropdown-menu-md-start[data-bs-popper] {
    right: auto;
    left: 0; }
  .dropdown-menu-md-end {
    --bs-position: end; }
  .dropdown-menu-md-end[data-bs-popper] {
    right: 0;
    left: auto; } }

@media (min-width: 992px) {
  .dropdown-menu-lg-start {
    --bs-position: start; }
  .dropdown-menu-lg-start[data-bs-popper] {
    right: auto;
    left: 0; }
  .dropdown-menu-lg-end {
    --bs-position: end; }
  .dropdown-menu-lg-end[data-bs-popper] {
    right: 0;
    left: auto; } }

@media (min-width: 1200px) {
  .dropdown-menu-xl-start {
    --bs-position: start; }
  .dropdown-menu-xl-start[data-bs-popper] {
    right: auto;
    left: 0; }
  .dropdown-menu-xl-end {
    --bs-position: end; }
  .dropdown-menu-xl-end[data-bs-popper] {
    right: 0;
    left: auto; } }

@media (min-width: 1400px) {
  .dropdown-menu-xxl-start {
    --bs-position: start; }
  .dropdown-menu-xxl-start[data-bs-popper] {
    right: auto;
    left: 0; }
  .dropdown-menu-xxl-end {
    --bs-position: end; }
  .dropdown-menu-xxl-end[data-bs-popper] {
    right: 0;
    left: auto; } }

.dropup .dropdown-menu[data-bs-popper] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem; }

.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent; }

.dropup .dropdown-toggle:empty::after {
  margin-left: 0; }

.dropend .dropdown-menu[data-bs-popper] {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem; }

.dropend .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid; }

.dropend .dropdown-toggle:empty::after {
  margin-left: 0; }

.dropend .dropdown-toggle::after {
  vertical-align: 0; }

.dropstart .dropdown-menu[data-bs-popper] {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem; }

.dropstart .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: ""; }

.dropstart .dropdown-toggle::after {
  display: none; }

.dropstart .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent; }

.dropstart .dropdown-toggle:empty::after {
  margin-left: 0; }

.dropstart .dropdown-toggle::before {
  vertical-align: 0; }

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15); }

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }

.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125;
  background-color: #e9ecef; }

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #0d6efd; }

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent; }

.dropdown-menu.show {
  display: block; }

.dropdown-header {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap; }

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1rem;
  color: #212529; }

/*navbar*/
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between; }

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0; }

.navbar-nav .dropdown-menu {
  position: static; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out; }

/*properties*/
.me-auto {
  margin-right: auto !important; }

.mb-2 {
  margin-bottom: 0.5rem !important; }

.mb-lg-0 {
  margin-bottom: 0 !important; }

/*queries nav*/
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none; } }

.navbar-toggler:hover {
  text-decoration: none; }

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

.navbar-nav-scroll {
  max-height: var(--bs-scroll-height, 75vh);
  overflow-y: auto; }

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row; }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-sm .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-sm .navbar-toggler {
    display: none; } }

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-md .navbar-nav {
    flex-direction: row; }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-md .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-md .navbar-toggler {
    display: none; } }

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row; }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-lg .navbar-toggler {
    display: none; } }

@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row; }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-xl .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-xl .navbar-toggler {
    display: none; } }

@media (min-width: 1400px) {
  .navbar-expand-xxl {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-xxl .navbar-nav {
    flex-direction: row; }
  .navbar-expand-xxl .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-xxl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-xxl .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-xxl .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-xxl .navbar-toggler {
    display: none; } }

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start; }

.navbar-expand .navbar-nav {
  flex-direction: row; }

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute; }

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.navbar-expand .navbar-nav-scroll {
  overflow: visible; }

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto; }

.navbar-expand .navbar-toggler {
  display: none; }

.navbar-light .navbar-toggler-icon {
  background-image: url("../img/menu.svg"); }

/*header*/
.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: #241b33; }

.navList {
  list-style: none;
  font-weight: bold; }
  .navList li {
    margin-left: 30px;
    padding: 25px; }
    .navList li:hover {
      background-color: #2a233a; }
      .navList li:hover .innerNavList {
        display: block;
        position: absolute;
        margin-top: 25px;
        margin-left: -25px; }
  .navList a {
    color: #fff;
    text-decoration: none; }
    .navList a:hover {
      color: #f9d7af; }

.innerNavList {
  list-style: none;
  font-weight: normal;
  display: none;
  background-color: #2a233a; }

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-image: url(../img/bgheader.png);
  background-position: center;
  text-align: center; }

.homeTitle {
  margin-bottom: 0.5em; }

.homeSubtext {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 9px;
  font-size: 20pt;
  margin: 2em; }

#objectsHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-image: url(../img/objectsheader.png);
  background-position: center;
  text-align: center; }

#pick {
  background-image: url(../img/bgcard.png);
  background-position: center; }

.homePickDiv {
  display: inline-block; }

#error {
  min-height: 90vh; }

.generalImg {
  max-height: 40vh; }

/*--servgrid--*/
.servGrid {
  display: grid;
  grid-template-areas: "servimg servimg" "servh2 servh2" "servp servp";
  grid-template-rows: 25% 45% 20%;
  grid-template-columns: 40% 40%;
  grid-row-gap: 25px;
  justify-content: center;
  align-items: center; }

.serviceH2 {
  grid-area: servh2;
  min-height: 10vh;
  padding-top: 0vh; }

.serviceImg {
  grid-area: servimg;
  justify-self: center; }

.serviceP {
  grid-area: servp;
  overflow: hidden; }

/*--rolgrid--*/
#rol {
  padding-top: 90px; }
  #rol h2 {
    line-height: 70pt; }

.rolGrid {
  display: grid;
  grid-template-areas: "rolimg rolimg"  "rolh2 rolh2" "rolp rolp" "roltable roltable";
  grid-template-rows: 23% 15% 47% 15%;
  grid-template-columns: 40% 40%;
  grid-row-gap: 25px;
  justify-content: center; }

.rolH2 {
  grid-area: rolh2;
  align-self: center; }

.rolP {
  grid-area: rolp; }

.rolTable {
  grid-area: roltable;
  margin-top: 20px;
  justify-self: center; }

.rolImg {
  grid-area: rolimg;
  align-self: center;
  justify-self: center; }

.bigH2 {
  font-size: 53pt;
  line-height: 70pt; }

/*--table--*/
.rolTh {
  background-color: #2a233a;
  color: #f9d7af;
  border: solid 1px;
  padding: 12px;
  text-align: center; }

.rolTd {
  border: solid 1px;
  padding: 12pt;
  text-align: center; }

/*--form--*/
.contactField {
  border: none;
  border-radius: 15px;
  background-color: #2a233a;
  padding: 20px;
  margin: 5px; }

.form {
  display: block;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px; }
  .form h3 {
    margin-bottom: 10px; }

.formInputStyle {
  margin-bottom: 20px;
  background-color: #2a233a;
  border: solid 2px #f9d7af;
  border-radius: 10px;
  font-size: 16pt;
  color: #fff;
  padding: 5px; }

.formInputBox {
  width: 300px;
  min-height: 30px;
  margin: 10px; }

.formRadio {
  max-width: 150px;
  font-size: 12pt;
  margin-right: 15px; }

.formTextarea {
  background-color: #2a233a;
  width: 300px;
  border: solid 2px #f9d7af;
  border-radius: 10px; }

.btn--enviar {
  background-color: #f8c885; }

.btn--limpiar {
  background-color: #f9d7af; }

.btn--js {
  background-color: #3d364d; }

.formButton {
  padding: 10px 30px 10px 30px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 19px;
  color: #2a233a; }

#gallery {
  display: block;
  max-width: 1450px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto; }

.flexboxGal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .flexboxGal img {
    margin-top: 20px;
    height: 90%; }

.galleryVideo {
  padding: 0;
  width: 100%; }

#objectsInfo {
  text-align: center;
  padding: 60px;
  color: #f9d7af; }

#objectsHome {
  height: 60vh; }
  #objectsHome h1 {
    margin-top: 15vh; }

.objectsBox {
  height: 350px;
  width: 350px;
  margin: 10px;
  border-radius: 25px;
  overflow: hidden; }

#location iframe {
  border-radius: 25px;
  margin: 0px; }

.overlay {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

/*big*/
.popupBodyBig {
  width: 85%;
  height: 87vh;
  padding: 10px;
  border-radius: 15px;
  background: #2a233a;
  position: relative;
  margin: 2%;
  margin-top: 11vh;
  text-align: center; }
  .popupBodyBig .popupContentBig {
    transform: translate(0%) rotateZ(90deg); }

.popupContentBig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  margin-top: 22vh; }
  .popupContentBig .galleryImg {
    width: 500px; }

.popupCloseBig {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff; }

/*small*/
.popupBodySmall {
  width: 80%;
  height: 80vh;
  padding: 30px;
  border-radius: 15px;
  background: #241b33;
  position: relative;
  margin: 2% auto;
  margin-top: 11vh;
  text-align: center;
  color: #fff;
  overflow: scroll; }
  .popupBodySmall h2 {
    color: #f9d7af; }
  .popupBodySmall img {
    max-height: 50vh;
    width: auto; }

.popupCloseSmall {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #f9d7af; }

.popupContentSmall {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .popupContentSmall img {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 25px; }

/*objects*/
.popupBodySmallObjects {
  width: 80%;
  height: 80vh;
  padding: 30px;
  border-radius: 15px;
  background: #241b33;
  position: relative;
  margin: 2% 1%;
  margin-top: 11vh;
  text-align: center;
  color: #fff;
  overflow: scroll; }
  .popupBodySmallObjects h2 {
    color: #f9d7af; }
  .popupBodySmallObjects img {
    margin-top: 20px;
    max-height: 40vh;
    width: auto; }

.popupCloseSmallObjects {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #f9d7af; }

.popupContentSmallObjects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .popupContentSmallObjects img {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 25px; }

.star {
  visibility: hidden; }

.slide-top {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  visibility: visible !important; }

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px); } }

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

.focus-in {
  -webkit-animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.focus-in-delay {
  -webkit-animation: focus-in-delay 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
  animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both; }

@-webkit-keyframes focus-in-delay {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes focus-in-delay {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.scale-in-center:hover {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1; } }

@media only screen and (max-width: 699px) {
  .divBar {
    display: none; } }

@media only screen and (min-width: 700px) and (max-width: 1366px) {
  /*HOME*/
  #home {
    height: 80vh; }
  .homeTitle {
    margin-bottom: 0.3em; }
  h1 {
    font-size: 90pt;
    line-height: 70pt; }
  .homeSubtext {
    font-size: 30pt;
    margin: 1em; }
  .formTextarea {
    width: 615px; }
  /*GRIDS*/
  .servGrid {
    display: grid;
    grid-template-areas: "servimg servimg" "servh2 servp" "servh2 servp";
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: 45% 40%;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center; }
  .bigH2 {
    font-size: 60pt;
    font-weight: lighter;
    line-height: 120pt; }
  .serviceH2 {
    grid-area: servh2;
    min-height: 0vh;
    padding-top: 0vh; }
  .rolGrid {
    display: grid;
    grid-template-areas: "rolimg rolimg"  "rolh2 rolp" "roltable rolp";
    grid-template-rows: 40% 30% 20%;
    grid-template-columns: 45% 40%;
    grid-column-gap: 10px;
    justify-content: center; }
    .rolGrid h2 {
      font-size: 60pt; }
  .rolH2 {
    align-self: center; }
  /*GENERAL*/
  .divBar {
    display: inline-block; }
  .cardBack {
    min-height: 250px; }
  #services, #rol {
    margin-top: 100px;
    margin-bottom: 100px; }
  #objectsHome {
    height: 30vh; }
    #objectsHome h1 {
      margin-top: 10vh; }
  .generalImg {
    max-height: 50vh; }
  /*GALLERY*/
  .galleryVideo {
    padding: 10px;
    width: 98%; }
  .popupBodyBig {
    width: 87%;
    height: 75vh;
    padding: 10px;
    border-radius: 15px;
    background: #2a233a;
    position: relative;
    margin: 2% auto;
    margin-top: 11vh;
    text-align: center; }
    .popupBodyBig .popupContentBig {
      transform: translate(0%) rotateZ(90deg); }
  .popupContentBig {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px;
    margin-top: 19vh; }
    .popupContentBig .galleryImg {
      width: 650px;
      margin: 10px; } }

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /*IPAD PRO*/
  /*POPUP GALLERY*/
  .popupBodyBig {
    width: 87%;
    height: 87vh;
    padding: 10px;
    border-radius: 15px;
    background: #2a233a;
    position: relative;
    margin: 2% auto;
    margin-top: 11vh;
    text-align: center; }
  .popupContentBig {
    padding: 20px;
    width: 100%; }
    .popupContentBig .galleryImg {
      width: 1000px; } }

@media only screen and (min-width: 1370px) {
  /*FULL SCREEN HOME*/
  #logo {
    height: 40px; }
  h1 {
    font-size: 120pt;
    font-weight: 300;
    margin-bottom: 0px; }
  .homeTitle {
    margin: 0.3em; }
  .homeSubtext {
    margin: 0;
    font-size: 40px; }
  /*FULL SCREEN SERVICES*/
  .bigH2 {
    font-size: 100pt;
    line-height: 170pt; }
  /*FULL SCREEN GRIDS*/
  .servGrid {
    display: grid;
    grid-template-areas: "servh2 servh2 servimg servimg" "servh2 servh2 servimg servimg" "servh2 servh2 servp servp";
    grid-template-rows: 20% 20% 55%;
    grid-template-columns: 360px 10% 10% 10%;
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px; }
  .serviceH2 {
    min-height: 50vh; }
  .rolGrid {
    display: grid;
    grid-template-areas: "rolimg rolh2 rolh2"  "rolimg rolp rolp" "roltable rolp rolp";
    grid-template-rows: 30% 20% 20%;
    grid-template-columns: 340px 20% 12%;
    grid-column-gap: 30px;
    justify-content: center; }
  /*FULL SCREEN FORM*/
  .formTextarea {
    width: 615px; }
  /*FULL SCREEN GENERAL*/
  h2 {
    font-size: 55pt; }
  .cardBack {
    min-height: 600px; }
  .divBar {
    display: inline-block; }
  #objectsHome {
    height: 50vh; }
    #objectsHome h1 {
      margin-top: 0vh; }
  .generalImg {
    max-height: 75vh; }
  .galleryVideo {
    padding: 10px;
    width: 98%; }
  #services, #rol, #pick, #contact, #stones, #amulets, #location, #aboutme, #energy {
    margin-top: 100px;
    margin-bottom: 100px; }
  .popupBodySmall {
    height: 70vh;
    margin: 2% auto;
    margin-top: 12vh;
    padding: 70px;
    text-align: left;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .popupBodySmall img {
      max-height: 70vh;
      width: auto; }
  .popupBodySmall::-webkit-scrollbar {
    display: none; }
  .popupBodySmallObjects {
    height: 70vh;
    width: 87%;
    margin: 2% auto;
    margin-top: 12vh;
    padding: 70px;
    text-align: left;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .popupBodySmallObjects img {
      max-height: 70vh;
      width: auto; }
  .popupBodySmallObjects::-webkit-scrollbar {
    display: none; }
  .popupBodyBig {
    width: 87%;
    height: 87vh;
    padding: 10px;
    border-radius: 15px;
    background: #2a233a;
    position: relative;
    margin: 2% auto;
    margin-top: 11vh;
    text-align: center; }
  .popupContentBig {
    margin-top: 0vh;
    width: 100%; }
    .popupContentBig .galleryImg {
      width: 90%; }
  .popupBodyBig .popupContentBig {
    transform: rotateZ(0deg); }
  .popupCloseBig {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff; } }

#pick, #stones, #amulets {
  text-align: center; }

.cards {
  margin: 60px; }

.cardBack {
  max-height: 210px; }

#services, #rol {
  margin: 0px; }

#pick, #contact, #stones, #amulets {
  margin-top: 100px;
  margin-bottom: 100px; }

.flexboxRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
