#gallery {
    display: block;
    max-width: 1450px;
     margin-left: auto;
      margin-right: auto
}

.flexboxGal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    img {
        margin-top: 30px;
    } 
    .col-4 {
        overflow: hidden;
    }
    img {
        height: 90%;
    }
    video {
        margin-bottom: 20px;
     }
}