
@media only screen and (max-width:699px){
    .divBar {
        display: none;
    }
}


@media only screen and (min-width: 700px) and (max-width: 1366px){

    /*HOME*/

      #home {
        
    height: 80vh;
    }

    .homeTitle {
        margin-bottom: 0.3em;
    }

    h1{
        font-size: 90pt;
        line-height: 70pt;
    }

    .homeSubtext{
        font-size: 30pt;
        margin: 1em;
    }

    .formTextarea{
        width: 615px;
    }


    /*GRIDS*/

    .servGrid {
        display: grid;
        grid-template-areas:
        "servimg servimg"
        "servh2 servp"
        "servh2 servp";
        grid-template-rows: 40% 30% 30%;
        grid-template-columns: 45% 40%;
        grid-column-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .bigH2 {
        font-size: 60pt;
        font-weight: lighter;
        line-height: 120pt;
    }

    .serviceH2 {
        grid-area: servh2;
        min-height: 0vh;
        padding-top: 0vh;
    }

    .rolGrid {
        display: grid;
        grid-template-areas: 
        "rolimg rolimg" 
        "rolh2 rolp"
        "roltable rolp";
        grid-template-rows: 40% 30% 20%;
        grid-template-columns: 45% 40%;
        grid-column-gap: 10px;
        justify-content: center;
        h2 {
            font-size: 60pt;
        }
    }

    
    
    .rolH2 {
    align-self: center;
}

    /*GENERAL*/

    .divBar {
        display: inline-block;
    }
    
    .cardBack {
        min-height: 250px;
    }

    #services, #rol {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #objectsHome {
        height: 30vh;
        h1 {
            margin-top: 10vh;
        }
    }

    .generalImg {
        max-height: 50vh;
    }


    /*GALLERY*/


    .galleryVideo {
        padding: 10px;
    }

    .popupBodyBig {
        width: 87%;
        height: 75vh;
        padding: 10px;
        border-radius: 15px;
        background: $light-violet;
        position: relative;
        margin: 2% auto;
        margin-top: 11vh;
        text-align: center;
        .popupContentBig {
            transform: translate(-0%) rotateZ(90deg);
            
        }  }  
    
        .popupContentBig {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          padding: 0px;
          margin-top: 19vh;
          .galleryImg {
            width: 650px;
            margin: 10px;
          }
        }

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    /*IPAD PRO*/

    /*POPUP GALLERY*/
    .popupBodyBig {
        width: 87%;
        height: 87vh;
        padding: 10px;
        border-radius: 15px;
        background: $light-violet;
        position: relative;
        margin: 2% auto;
        margin-top: 11vh;
        text-align: center;      
    
      }

      .popupContentBig {
          padding: 20px;
        width: 100%;
        .galleryImg {
            width: 1000px;
          }

      }


}


@media only screen and (min-width: 1370px){

    /*FULL SCREEN HOME*/

    #logo {
        height: 40px;
    }

    h1 {        
        font-size: 120pt;        
        font-weight: 300;
        margin-bottom: 0px;
    }

    .homeTitle {
        margin: 0.3em;
    }

    .homeSubtext{    
        margin:0;
        font-size: 40px;
    }

    /*FULL SCREEN SERVICES*/

    .bigH2 {
        font-size: 100pt;
        line-height: 170pt;
    }
    
 
    

    /*FULL SCREEN GRIDS*/

    .servGrid {
        display: grid;
        grid-template-areas:
        "servh2 servh2 servimg servimg"
        "servh2 servh2 servimg servimg"
        "servh2 servh2 servp servp";
        grid-template-rows: 20% 20% 55%;
        grid-template-columns:360px 10% 10% 10%;
        grid-column-gap: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    .serviceH2 {
        min-height: 50vh;
    }

    .rolGrid {
        display: grid;
        grid-template-areas: 
        "rolimg rolh2 rolh2" 
        "rolimg rolp rolp"
        "roltable rolp rolp";
        grid-template-rows: 30% 20% 20%;
        grid-template-columns: 340px 20% 12%;
        grid-column-gap: 30px;
        justify-content: center;
    }

    /*FULL SCREEN FORM*/

    .formTextarea{
        width: 615px;
    }


    /*FULL SCREEN GENERAL*/

    h2 {
        font-size: 55pt;
    }
    .cardBack {
        min-height: 600px;
    }

    .divBar {
        display: inline-block;
    }

    
    #objectsHome {
        height: 50vh;
        h1 {
            margin-top: 0vh;
        }
    }
    
    .generalImg {
        max-height: 75vh;
    }

    .galleryVideo {
        padding: 10px;
        width: 98%;
    }

    #services, #rol, #pick, #contact, #stones, #amulets, #location, #aboutme, #energy{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .popupBodySmall {
        height: 70vh;
        margin: 2% auto;
        margin-top: 12vh;
        padding: 70px;
        text-align: left;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        img{
            max-height: 70vh;
            width: auto;
          }
    }


    .popupBodySmall::-webkit-scrollbar {
    display: none;
  }


  .popupBodySmallObjects {      
    height: 70vh;
    width: 87%;
    margin: 2% auto;
    margin-top: 12vh;
    padding: 70px;
    text-align: left;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    img{
        max-height: 70vh;
        width: auto;
      }
}


.popupBodySmallObjects::-webkit-scrollbar {
display: none;
}


      .popupBodyBig {
        width: 87%;
        height: 87vh;
        padding: 10px;
        border-radius: 15px;
        background: $light-violet;
        position: relative;
        margin: 2% auto;
        margin-top: 11vh;
        text-align: center;      
    
      }

      .popupContentBig {
        margin-top: 0vh;
        width: 100%;
        .galleryImg {
            width: 90%;
          }

      }

      .popupBodyBig .popupContentBig {
        transform: rotateZ(0deg);
    }
     
    
      .popupCloseBig
      {
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 30px;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
      }



}