
#objectsInfo {
    text-align: center;
    padding: 60px;
    color: $cream;
}
#objectsHome {
    height: 60vh;
    h1 {
        margin-top: 15vh;
    }
}

.objects--box {
        height: 350px;
        width: 350px;
        margin: 20px;
        border-radius: 25px;
        overflow: hidden;
    }


#location {
    iframe {
        border-radius: 25px;
    }
}