.overlay { 
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target{
    visibility: visible;
    opacity: 1;
  }

  /*big*/

  .popupBodyBig {
    width: 87%;
    height: 84vh;
    padding: 10px;
    border-radius: 15px;
    background: $light-violet;
    position: relative;
    margin: 2% auto;
    margin-top: 11vh;
    text-align: center;
    .popupContentBig {
        transform: translate(-0%) rotateZ(90deg);
        
    }  }  

    .popupContentBig {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      padding: 10px;
      margin-top: 22vh;
      .galleryImg {
        width: 500px;
      }
    }
 

  .popupCloseBig
  {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }

  



/*small*/

.popupBodySmall {
    width: 80%;
    height: 80vh;
    padding: 30px;
    border-radius: 15px;
    background: $dark-violet;
    position: relative;
    margin: 2% auto;
    margin-top: 11vh;    
    text-align: center;
    color: #fff;
    overflow: scroll;
    h2{
        color: $cream;
    }
    img{
        max-height: 50vh;
        width: auto;
      }
  }

  .popupCloseSmall
  {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $cream;
  }

.popupContentSmall {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      img {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 25px;
    }

  }

  /*objects*/

.popupBodySmallObjects {
  width: 80%;
  height: 80vh;
  padding: 30px;
  border-radius: 15px;
  background: $dark-violet;
  position: relative;
  margin: 2% 1%;
  margin-top: 11vh;
  text-align: center;
  color: #fff;
  overflow: scroll;
  h2{
      color: $cream;
  }
  img{
    margin-top: 20px;
      max-height: 40vh;
      width: auto;
    }
}

.popupCloseSmallObjects
{
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: $cream;
}

.popupContentSmallObjects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img {
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 25px;
  }

}